<% layout("/layouts/boilerplate") -%>

<div class="row">
  <div class="col-8 offset-2">
    <br /><br />
    <h1>Create a New List</h1>

    <form
      method="post"
      action="/listings"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          id=""
          placeholder="enter title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">please choose a title</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          name="listing[description]"
          class="form-control"
          required
        ></textarea>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">please choose a description</div>
      </div>

      <!-- <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input
          type="text"
          name="listing[image]"
          placeholder="ente image URL/link"
          class="form-control"
        />
        <div class="valid-feedback">Looks good!</div>
      </div> -->

      <div class="mb-3">
        <label for="image" class="form-label">Upload Image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Add Image!</div>
        <div class="valid-feedback">looks good!</div>
      </div>

      <div class="mb-3">
        <label for="Category" class="form-label">Category</label>

        <select
          class="form-select"
          aria-label="Default select example"
          name="listing[Category]"
          required
        >
          <option value="" selected disabled>Open this select menu</option>
          <option value="Rooms">Rooms</option>
          <option value="Iconic">Iconic Cities</option>
          <option value="Mountains">Mountains</option>
          <option value="Castles">Castles</option>
          <option value="Amazing">Amazing Pools</option>
          <option value="Camping">Camping</option>
          <option value="Forms">Forms</option>
          <option value="Arctic">Arctic</option>
        </select>
        <div class="invalid-feedback">Please select a category!</div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            placeholder="enter price"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">please choose a price</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="enter country"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">please choose a country</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          id=""
          placeholder="enter location"
          class="form-control"
          required
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">please choose a location</div>
      </div>
      <br />

      <button class="btn btn-dark add-btn">Add</button>
      <br />
      <br />
    </form>
  </div>
</div>
